/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin:0}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: url('/images/Capture.PNG'); background-repeat: no-repeat;background-position: center;background-size: cover;background-attachment: fixed;}
::ng-deep .mat-dialog-container {
    background: transparent !important; 
    box-shadow: none !important; 
  }
  
  ::ng-deep .mat-overlay-pane {
    background: rgba(0, 0, 0, 0.5) !important; 
  }
  